.header-sticky {
  position: relative;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;
}

.header-sticky.sticky-on {
  position: fixed;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}
